<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98529474187-tdj5bktfsg4e98pk80uh5quksh7pcno9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98529474187-tdj5bktfsg4e98pk80uh5quksh7pcno9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>98529474187-837420s3ejhjmelj815sf1hsnaqe6mth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD6u8VZovykRj1UfS111Nyi-OvA5tX34hw</string>
	<key>GCM_SENDER_ID</key>
	<string>98529474187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.commuteNepal</string>
	<key>PROJECT_ID</key>
	<string>commutenepal-d601d</string>
	<key>STORAGE_BUCKET</key>
	<string>commutenepal-d601d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98529474187:ios:c672ff3168782f1c68868e</string>
	<key>DATABASE_URL</key>
	<string>https://commutenepal-d601d-default-rtdb.firebaseio.com</string>
</dict>
</plist>